.editomainpage_container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginwithgooglecontainer {
  display: flex;
  justify-content: center;
}

.d_libratext {
  font-size: 12px;
}

.forgetPassword {
  margin-top: -100px;
}

.continuewithoutlogincontainer {
  display: flex;
  flex-direction: column;
}

.registercontainer {
  margin-top: -16px;
}

.loginbuttontext {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 21px !important;
  line-height: 24px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.015em !important;
  width: 200px !important;
  height: 40px !important;
  background: linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  border-radius: 15px !important;
  color: #ffffff !important;
  text-transform: none !important;
  margin-top: 27px !important;
}

.arrowforwardicon {
  position: relative;
  left: 16px;
}

.logininbuttoncontainer {
  margin-top: -15px !important;
}

.backbutton_text {
  padding-left: 4px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
}

.backbutton_icon {
  font-size: 18px !important;
}

.logoutmaincontainer {
  margin-top: 70px;
}

.forgotpasswordtext {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
}

.forgotpasswordcontainer {
  margin-top: 45px;
  position: relative;
  left: 100px;
  display: flex;
  align-items: center;
}

.registermaincontainer {
  margin-top: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginmaincontainer {
  margin-top: 57px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logoutcontainer {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.add_new_category_heading {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.add_new_category_heading_sub {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #363636;
}

.back_button {
  background: transparent;
  border: none;
  padding-left: 12px;
  padding-top: 7px !important;
  cursor: pointer;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
}

.image_button {
  background: #119abd;
  border-radius: 15px;
  height: 30px;
  text-transform: none;
  border: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.addcategory_text {
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  padding: 19px 0px 3px 0px;
}

.addcategory_input {
  background: #4f4f4f !important;
  border-radius: 5px !important;
  border: none !important;
  width: 400px !important;
  height: 40px !important;
  border: 1px solid rgba(230, 230, 230, 0.5) !important;
  margin-top: 5px !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 21px !important;
  line-height: 24px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  padding-left: 10px !important;
  color: #ffffff !important;
  margin-bottom: 20px !important;
}

.addcategory_input_Otp {
  background: #4f4f4f !important;
  border-radius: 5px !important;
  border: none !important;
  width: 90px !important;
  height: 70px !important;
  border: 1px solid rgba(230, 230, 230, 0.5) !important;
  margin-top: 5px !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 21px !important;
  line-height: 24px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  color: #ffffff !important;
  margin-bottom: 20px !important;
  text-align: center !important;
}

.addcategory_input::placeholder {
  color: grey;
}

.addcategory_input_Otp::placeholder {
  color: grey;
}

.addcategory_input_sub {
  border: 1px solid rgba(230, 230, 230, 0.5) !important;
  background: #ffffff !important;
  border-radius: 5px !important;
  border: none !important;
  width: 400px !important;
  height: 40px !important;
  margin-top: 5px !important;
  font-weight: 300 !important;
  font-size: 21px !important;
  line-height: 24px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  padding-left: 10px !important;
  margin-bottom: 20px !important;
  color: #363636 !important;
  background: #ffffff !important;
  border: 1px solid rgba(230, 230, 230, 0.5) !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
}

.addcategory_input_sub_Otp {
  border: 1px solid rgba(230, 230, 230, 0.5) !important;
  background: #ffffff !important;
  border-radius: 5px !important;
  border: none !important;
  width: 90px !important;
  height: 70px !important;
  margin-top: 5px !important;
  font-weight: 300 !important;
  font-size: 21px !important;
  line-height: 24px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  margin-bottom: 20px !important;
  color: #363636 !important;
  background: #ffffff !important;
  border: 1px solid rgba(230, 230, 230, 0.5) !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
  text-align: center !important;
}

.addcategory_input_sub::placeholder {
  color: grey;
}

.addcategory_input_sub_Otp::placeholder {
  color: grey;
}

.addcategory_dropdown {
  background: #4f4f4f;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 20px;
  height: 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  padding-left: 20px;
  padding-right: 30px !important;
  color: #ffffff;
}

.addcategory_dropdown:focus {
  outline: none;
}

.addcategory_dropdown_sub {
  background: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 30px !important;
  height: 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  padding-left: 20px;
  color: #363636;
  background: #ffffff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
}

.addcategory_dropdown_sub:focus {
  outline: none;
}

.update_button {
  background: linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  color: white !important;
  border-radius: 15px !important;
  margin-top: 27px !important;
  width: 200px !important;
  border: none !important;
  height: 40px !important;
  font-weight: 400 !important;
  font-size: 21px !important;
  line-height: 24px !important;
  display: flex !important;
  align-items: center !important;
  text-transform: none !important;
  text-align: center !important;
  justify-content: center !important;
  letter-spacing: -0.015em !important;
}

.buttons {
  background: linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  border-radius: 15px !important;
  text-transform: none !important;
  justify-content: center !important;
  margin: 10px 0px 20px 0px !important;
  font-weight: 400 !important;
  font-size: 21px !important;
  line-height: 24px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.015em !important;
  width: 300px !important;
  height: 40px !important;
  color: #ffffff !important;
}

.texttwo {
  justify-content: center !important;
  margin: 20px 0px 20px 0px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.015em !important;
  color: #008eec !important;
}

.orText {
  justify-content: center;
  margin: 20px 0px 20px 0px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  color: #c8c8c8 !important;
  letter-spacing: -0.015em !important;
}

.signWithGoogle {
  background: #fcfcfc !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 15px !important;
  font-weight: 300 !important;
  font-size: 21px !important;
  line-height: 18px !important;
  text-transform: none !important;
  display: flex !important;
  width: 400px !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.015em !important;
  position: relative;
  height: 40px !important;
  color: #363636 !important;
  justify-content: center !important;
}
.googleIcon {
  height: 22px;
  width: 22px;
  position: absolute;
  left: 3%;
  top: 17%;
}
.logoutText {
  font-weight: 400 !important;
  font-size: 21px !important;
  line-height: 21px !important;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em !important;
  color: #ffffff;
}

.logoutTextdark {
  font-weight: 400 !important;
  font-size: 21px !important;
  letter-spacing: -0.015em !important;
  text-shadow: 0px 0px #00000000;
  background-color: #004cb6 !important;
  display: inline-block;
  background-image: -webkit-linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  background-image: -webkit-conic-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  -webkit-box-decoration-break: clone;
  -webkit-background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -moz-text-fill-color: transparent !important;
  -webkit-mask-image: linear-gradient(87.62deg, #004cb6 -44.71%, #009af9 100%);
}

.successMessage {
  color: green;
  padding: 10px;
  width: 100%;
  border: 2px solid green;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.successMessageTwo {
  color: white;
  padding: 10px;
  width: 100%;
  border: 2px solid white;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.errorMessage {
  color: red;
  padding: 10px;
  border: 2px solid red;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 468px) {
  .arrowforwardicon {
    font-size: 17px !important;
    position: relative;
    left: 10px;
  }

  .loginbuttontext {
    width: 200px !important;
    height: 30px !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 18px !important;
    line-height: 21px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    letter-spacing: -0.015em !important;
  }

  .orText {
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 21px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    letter-spacing: -0.015em !important;
  }

  .logoutmaincontainer {
    margin-top: 23px;
  }

  .loginmaincontainer {
    margin-top: 84px;
  }

  .back_button {
    padding-top: 9px !important;
  }

  .backbutton_text {
    padding-left: 4px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
  }

  .backbutton_icon {
    font-size: 14px !important;
  }

  .registermaincontainer {
    margin-top: 20px;
  }

  .forgotpasswordtext {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
  }

  .forgotpasswordcontainer {
    margin-top: 34px;
    position: relative;
    left: 85px;
    display: flex;
    align-items: center;
  }

  .addcategory_text {
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    padding: 21px 0px 3px 0px;
    display: flex !important;
    align-items: center !important;
    letter-spacing: -0.015em !important;
  }

  .texttwo {
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 21px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    letter-spacing: -0.015em !important;
    background: linear-gradient(
      87.62deg,
      #004cb6 -44.71%,
      #009af9 100%
    ) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
    text-fill-color: transparent !important;
  }

  .addcategory_input {
    width: 300px !important;
    height: 40px !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    border: none !important;
    letter-spacing: -0.015em !important;
  }

  .addcategory_input_Otp {
    width: 70px !important;
    height: 70px !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    border: none !important;
    text-align: center !important;
    letter-spacing: -0.015em !important;
  }

  .addcategory_input_sub {
    width: 300px !important;
    height: 40px !important;
    border: none !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    letter-spacing: -0.015em !important;
  }

  .addcategory_input_sub_Otp {
    width: 70px !important;
    height: 70px !important;
    border: none !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    letter-spacing: -0.015em !important;
    text-align: center !important;
  }

  .update_button {
    height: 30px !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    line-height: 18px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    letter-spacing: -0.015em !important;
    color: #f3f6ff !important;
  }

  .signWithGoogle {
    width: 300px !important;
    height: 30px !important;
    font-style: normal;
    font-weight: 300 !important;
    font-size: 16px !important;
    line-height: 18px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    letter-spacing: -0.015em !important;
    color: #363636 !important;
  }

  .addcategory_dropdown {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }

  .addcategory_dropdown_sub {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }
  .add_new_category_heading {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    letter-spacing: -0.015em;
    color: #ffffff;
  }

  .add_new_category_heading_sub {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    text-shadow: 0px 0px #00000000;
    background-color: #004cb6 !important;
    display: inline-block;
    background-image: -webkit-linear-gradient(
      87.62deg,
      #004cb6 -44.71%,
      #009af9 100%
    ) !important;
    background-image: -webkit-conic-gradient(
      87.62deg,
      #004cb6 -44.71%,
      #009af9 100%
    ) !important;
    -webkit-box-decoration-break: clone;
    -webkit-background-clip: text !important;
    -moz-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -moz-text-fill-color: transparent !important;
    -webkit-mask-image: linear-gradient(
      87.62deg,
      #004cb6 -44.71%,
      #009af9 100%
    );
  }
  .logoutcontainer {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .buttons {
    font-size: 16px !important;
    height: 30px !important;
    width: 200px !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    line-height: 18px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    letter-spacing: -0.015em !important;
    margin: 20px 0px 0px 0px !important;
  }
  .logoutText {
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 21px !important;
  }
  .logoutTextdark {
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 21px !important;
  }
}
