.first_name_container {
  margin-top: -8px;
}

.emailaddresscontainer {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: -10px;
}

.userinputfieldmaincontainer {
  position: relative;
  top: -29px;
  padding-top: 20px;
}

.cancelIcon {
  margin-left: 20px !important;
  cursor: pointer;
}

.usersetting_inputfield_dark {
  background: #4f4f4f !important;
  border: 1px solid rgba(230, 230, 230, 0.5) !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
  width: 400px !important;
  height: 40px !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  margin-top: 5px !important;
  padding: 2px 5px 2px 5px;
  color: #ffffff !important;
}

.usersetting_inputfield_dark::placeholder {
  color: grey !important;
}
.usersetting_inputfield_light {
  background: #ffffff !important;
  border: 1px solid rgba(230, 230, 230, 0.5) !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
  width: 400px !important;
  height: 40px !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  padding: 2px 5px 2px 5px;
  color: #363636 !important;
}

.usersetting_inputfield_light::placeholder {
  color: grey !important;
}

.addiconcontainer {
  position: relative;
  top: -10px;
  left: 3px;
}
.tagimageusersettingpage {
  margin-right: 5px;
  width: 35px !important;
  position: relative;
  top: 6px;
  height: 24px !important;
}

.editoricon_image {
  width: 20px;
  height: 20px;
  padding-left: 4px;
}

.editoricon_image_two {
  width: 20px;
  height: 20px;
  padding-left: 4px;
}

.editorimage_icon {
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 18px !important;
  letter-spacing: -0.015em !important;
  text-shadow: 0px 0px #00000000;
  background-color: #004cb6 !important;
  display: inline-block;
  background-image: -webkit-linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  background-image: -webkit-conic-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  -webkit-box-decoration-break: clone;
  -webkit-background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -moz-text-fill-color: transparent !important;
  -webkit-mask-image: linear-gradient(87.62deg, #004cb6 -44.71%, #009af9 100%);
}

.editoricon_image_two {
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 18px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.015em !important;
  background: linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  text-fill-color: transparent !important;
  padding-left: 4px !important;
}

.editorimage_icon_two {
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 18px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.015em !important;
  color: #c8c8c8 !important;
}

.usersettingmembericon {
  width: 100px;
  height: 100px;
}

.profile_sub_input {
  background: #ffffff !important;
  border: 1px solid rgba(230, 230, 230, 0.5) !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
  width: 400px !important;
  height: 40px !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  padding: 2px 5px 2px 5px;
  color: #363636 !important;
}

.profile_sub_input::placeholder {
  color: grey !important;
}

.profile_sub_input_two {
  background: #4f4f4f !important;
  border: 1px solid rgba(230, 230, 230, 0.5) !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
  width: 400px !important;
  height: 40px !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  padding: 2px 5px 2px 5px;
  color: #ffffff !important;
}

.profile_sub_input_two::placeholder {
  color: grey !important;
}

.user_header_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.user_root_container {
  display: flex;
  position: relative;
  top: -30px;
  left: 40px;
}

.user_root_container_two {
  display: flex;
  position: relative;
  top: -30px;
  left: 40px;
}

.vector_image {
  padding: 10px 5px 18px 5px;
}

.vector_container {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center !important;
  text-align: center;
  letter-spacing: -0.015em;
}

.vector_container_deletefield {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center !important;
  text-align: center;
  letter-spacing: -0.015em;
}

.vector_containertwo {
  margin-top: -10px;
}

.successMessage {
  color: green !important;
  padding: 10px;
  width: 100%;
  border: 2px solid green;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.successMessageTwo {
  color: white;
  padding: 10px;
  width: 100%;
  border: 2px solid white;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.errorMessage {
  color: red;
  padding: 10px;
  border: 2px solid red;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.user_buttons {
  background: linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  width: 200px !important;
  height: 40px !important;
  border-radius: 15px !important;
  font-family: Helvetica !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 21px !important;
  line-height: 24px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.015em !important;
  margin-left: 16px !important;
  text-transform: none !important;
  color: #ffffff !important;
}

.user_container_root {
  margin-top: 5vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.user_sub_root_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user_buttons_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.user_subcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

.hidden_user_input {
  visibility: hidden;
}

.user_update_button {
  background: #4f4f4f !important;
  border-radius: 15px !important;
  font-family: Helvetica !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 11px !important;
  line-height: 14px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  width: 80px !important;
  height: 19px !important;
  letter-spacing: -0.015em !important;
  color: #ffffff !important;
  text-transform: none !important;
}

.user_update_button_sub {
  font-family: Helvetica !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 11px !important;
  line-height: 14px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.015em !important;
  color: #ffffff !important;
  width: 80px !important;
  height: 19px !important;
  background: linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  border-radius: 15px !important;
  text-transform: none !important;
}

.addcategory_text_bookmark {
  font-family: Helvetica !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 21px !important;
  line-height: 24px !important;
  margin-top: 20px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
}

.addcategory_text_bookmark_two {
  font-family: Helvetica !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 21px !important;
  line-height: 24px !important;
  margin-top: 20px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
}

.user_bookmark_container {
  padding: 0px 0px 0px 63px;
  margin-top: 60px;
}

@media screen and (max-width: 944px) {
  .inputFeild {
    margin-left: 45px !important;
  }

  .vector_container_deletefield {
    margin-left: 74px;
  }
  .user_bookmark_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0px;
  }
  .user_bookmark_container {
    padding: 0px 0px 0px 0px;
    margin-top: -22px;
    margin-left: -12px;
  }

  .hidden_user_input {
    display: none;
  }
  .user_sub_root_container {
    width: 100%;
  }
  .addcategory_text_bookmark {
    margin-left: -280px;
  }

  .vectorcontainermobile {
    position: relative;
    top: -10px;
    left: -10px;
  }
  .usersettingmembericon {
    position: relative;
    left: 30px;
  }

  .user_update_button {
    font-size: 8px !important;
    line-height: 14px !important;
    width: 50px !important;
    height: 15px !important;
    position: relative;
    left: 12px;
    top: 8px;
  }

  .user_update_button_sub {
    width: 80px !important;
    height: 20px !important;
    font-size: 11px !important;
    line-height: 14px !important;
    font-weight: 300px !important;
    position: relative;
    left: -58px;
    top: 25px;
  }

  .user_container_root {
    margin-top: 5vh;
  }

  .editoricon_image {
    width: 11px;
    height: 11px;
  }

  .editoricon_image_two {
    width: 11px;
    height: 11px;
  }

  .editorimage_icon {
    font-style: normal;
    font-weight: 700;
    font-size: 8px !important;
    line-height: 9px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    padding-left: 2px !important;
  }
  .vector_container > span {
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 9px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
  }

  .vector_container_deletefield > span {
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 9px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
  }

  .user_buttons {
    width: 200px !important;
    height: 29.26px !important;
    margin-top: 10px !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    line-height: 18px !important;
    margin-left: 0px !important;
  }

  .user_buttons_container {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
  }
  .usersettingbackbutton {
    padding-top: 10px;
  }
  .addcategory_text_bookmark {
    margin-left: -235px;
  }

  .profile_sub_input_two {
    width: 367px !important;
    margin-top: 0px !important;
    margin-right: -12px !important;
  }

  .profile_sub_input {
    width: 367px !important;
    margin-top: 0px !important;
    margin-right: -12px !important;
  }

  .addiconcontainer {
    position: relative;
    top: -10px;
    left: -3px;
  }

  .tagimageusersettingpage {
    width: 15px;
    height: 18px;
    position: relative;
    top: 5px;
  }

  .user_root_container_two {
    display: flex;
    position: relative;
    top: -30px;
    left: 0px;
  }

  .user_root_container {
    display: flex;
    position: relative;
    top: -30px;
    left: 10px;
  }

  .emailaddresscontainer {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 00px;
  }

  .editorimage_icon_two {
    font-weight: 700;
    font-size: 8px !important;
    line-height: 9px;
    position: relative;
    left: 10px;
  }
  .editoricon_image {
    width: 11px;
    height: 11px;
    position: relative;
    left: 1px;
  }
  .editoricon_image_two {
    width: 11px;
    height: 11px;
    position: relative;
    left: 8px;
  }
}

@media screen and (max-width: 468px) {
  .first_name_container {
    margin-top: -28px;
  }
  .profile_sub_input {
    width: 267px !important;
    height: 40px !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    margin-right: -15px !important;
  }

  .usersetting_inputfield_dark {
    border: none !important;
    width: 300px !important;
    height: 30px !important;
    font-weight: 300 !important;
    font-size: 18px !important;
    line-height: 21px !important;
  }

  .usersetting_inputfield_light {
    border: none !important;
    width: 300px !important;
    height: 40px !important;
    font-weight: 300 !important;
    font-size: 18px !important;
    line-height: 21px !important;
  }

  .addiconcontainer {
    position: relative;
    top: -2px;
    left: -2px;
    width: 24px !important;
    height: 24px !important;
  }

  .tagimageusersettingpage {
    width: 15px !important;
    height: 18px !important;
    position: relative;
    top: 5px;
  }

  .addcategory_text_bookmark {
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    display: flex !important;
    align-items: center !important;
    letter-spacing: -0.015em !important;
    margin-left: -185px !important;
  }

  .addcategory_text_bookmark_two {
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    display: flex !important;
    align-items: center !important;
    letter-spacing: -0.015em !important;
  }

  .profile_sub_input_two {
    width: 267px !important;
    margin-right: -15px !important;
    height: 30px !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
  }
}
