.noimagetext {
  padding: 20px 5px 0px 5px;
  position: relative;
  top: 5px;
}

.noimagesecondcontainer {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.newimage {
  width: 100%;
}

.noimagefirstcontainer {
  width: 240px;
  height: 200px;
  margin-top: 14px;
}

.selectimagecontainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.topBottomClass{
  margin-bottom: "30%";
  margin-top: "-60px";
}

.topClass{
  margin-top: "-60px";
}

.addcategoryinputfieldcontainer {
  margin-top: -30px !important;
  border: 1px solid red !important;
  position: relative !important;
  top: 200px !important;
}

.update_button_newcategory {
  margin-top: 30px !important;
}

.addnewcategorycontainer {
  margin-top: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: -20px;
}

.addcategorysubcontainer {
  padding-top: 62px;
  display: flex;
  flex-direction: column;
}

.image_button {
  background: #119abd !important;
  border-radius: 15px !important;
  height: 20px !important;
  text-transform: none !important;
  border: none !important;
  width: 181px !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: -0.015em !important;
  color: #ffffff !important;
}

.addcategory_inputt {
  background: #4f4f4f !important;
  border-radius: 5px !important;
  border: none !important;
  width: 450px !important;
  height: 40px !important;
  border: 1px solid rgba(230, 230, 230, 0.5) !important;
  margin-top: 5px !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 21px !important;
  line-height: 24px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  padding-left: 10px !important;
  color: #ffffff !important;
  margin-bottom: 20px !important;
}

.addcategory_inputt::placeholder {
  color: grey;
}

.addcategory_inputt_sub {
  border: 1px solid rgba(230, 230, 230, 0.5) !important;
  background: #ffffff !important;
  border-radius: 5px !important;
  border: none !important;
  width: 450px !important;
  height: 40px !important;
  margin-top: 5px !important;
  font-weight: 300 !important;
  font-size: 21px !important;
  line-height: 24px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  padding-left: 10px !important;
  margin-bottom: 20px !important;
  color: #363636 !important;
  background: #ffffff !important;
  border: 1px solid rgba(230, 230, 230, 0.5) !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
}

.addcategory_inputt_sub::placeholder {
  color: grey;
}

.addcategory_dropdown {
  background: #4f4f4f;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 20px;
  height: 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  padding-left: 20px;
  color: #ffffff;
}

.update_button {
  background: linear-gradient(
    87.62deg,
    #004cb6 -44.71%,
    #009af9 100%
  ) !important;
  border-radius: 15px !important;
  margin-top: 20px !important;
  width: 120px !important;
  border: none;
  height: 30px;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.015em;
}

@media screen and (max-width: 468px) {
  .image_button {
    width: 150px !important;
    height: 20px !important;
    padding: 0px 0px !important;
  }
  .addcategory_inputt {
    width: 300px !important;
    height: 40px !important;

    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    border: none !important;
    letter-spacing: -0.015em !important;
  }

  .update_button_newcategory {
    margin-top: 0px !important;
  }

  .addnewcategorycontainer {
    margin-top: 43px;
  }

  .addcategorysubcontainer {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
  }
  .addcategory_inputt_sub {
    width: 300px !important;
    height: 40px !important;

    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    border: none !important;
    letter-spacing: -0.015em !important;
  }
}
