.centercontainer {
  display: flex;
  justify-content: center;
}

.editor_mainPage_footer {
  position: fixed;
  bottom: 0;
}

.editormainpage_light {
  margin-top: 0px !important;
}

.selectcourseforedit {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
}

.selectcourseforeditTwo {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: black !important;
}

.editormainpagebuttoncontainer {
  margin-top: 80px;
}

.editormainpagebuttoncontainertwo {
  margin-top: 18px;
}

.editormainpagebuttoncontainerthree {
  margin-top: 70px;
}

.editormainpage_root_contianer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  flex-direction: column;
  /* height: 615px; */
}
.editors_menu_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: white;
}

.editors_menu_heading_sub {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #363636;
}

.editorpage_button_container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.editorpage_button_container_span {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: black;
  padding-bottom: 5px;
}
.upload_contents_button {
  background: #ffaa1d !important;
  border-radius: 15px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 21px !important;
  margin-top: 10px !important;
  width: 300px !important;
  height: 40px !important;
  line-height: 24px !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  text-transform: none !important;
  letter-spacing: -0.015em !important;

  color: #363636 !important;
}

.git_introduction_dropdown {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 5px !important;
  margin-top: 5px !important;
  height: 40px !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  letter-spacing: -0.015em !important;
  color: #ffffff !important;
  /* width: 300px !important; */
}

.git_introduction_dropdown_sub {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 5px;
  height: 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.015em;
  color: #363636;
}

@media screen and (max-width: 600px) {
  .ratingsidebar_footer {
    position: fixed;
    bottom: 0;
  }
}

@media screen and (max-width: 468px) {
  .editormainpage_root_contianer {
    margin-bottom: 0 !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 475px !important; */
    margin-top: -10vh;
  }

  .upload_contents_button {
    width: 299px !important;
    height: 30px !important;
    width: 299px !important;
    height: 30px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 18px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    letter-spacing: -0.015em !important;
  }


  .editors_menu_heading {
    /* font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em; */
    display: none !important;
  }

  .editors_menu_heading_sub {
    display: none !important;
  }

  .git_introduction_dropdown {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }

  .git_introduction_dropdown_sub {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }

  /* .editormainpagebuttoncontainer {
    margin-top: 20px;
  } */

  .editormainpagebuttoncontainertwo {
    margin-top: 0px;
  }

  .editormainpagebuttoncontainerthree {
    margin-top: 36px;
  }

  .selectcourseforedit {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
  }

  .selectcourseforeditTwo {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: black !important;
  }
}
