.main_accordian_container {
  background: #212121 !important;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25) !important;
  border: 0px 4px 4px rgba(227, 210, 210, 0.25) !important;
}

/* .main_accordian_container::-webkit-scrollbar {
  display: none;
} */
.accordiantext {
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 18px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  width: 330px !important;
  color: #ffffff !important;
  cursor: pointer;
}

.accordiantextTwo {
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 18px !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;
  width: 330px !important;
  color: #ffffff !important;
  text-align: center;
  cursor: auto;
}

.sub_accordain_text {
  background: #4f4f4f !important;
  position: relative !important;
  right: -20px !important;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25) !important;
}

.accordionarrowicon {
  color: white;
  height: 34px;
}

.accordianmain {
  padding: 10px 12px !important;
}

@media screen and (max-width: 498px) {
  .mainAccordionContainer {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .accordiantext {
    width: 250px !important;
    cursor: pointer !important;
  }

  .accordiantextTwo {
    width: 250px !important;
  }
}
