// .Searchb_main {
//     .main {
//       display: flex !important;
//       justify-content: center !important;
//       align-items: center !important;
//       border: 1px solid red !important;
//       width: 100% !important;
//       height: 55px !important;
//       background-color: black !important;
//       .left {
//         display: flex !important;
//         justify-content: center !important;
//         border: 1px solid red !important;
//         align-items: center !important;
//         width: 20% !important;
//       }
//       .right {
//         height: 42px !important;
//         display: flex !important;
//         justify-content: center !important;
//         border: 1px solid red !important;
//         align-items: center !important;
//         width: 75% !important;
//         background-color: #4f4f4f !important;
//         border-radius: 10px !important;
  
//         .left {
//           display: flex !important;
//           justify-content: flex-start !important;
  
//           width: 80% !important;
//           input {
//             background-color: #4f4f4f !important;
//             padding-left: 10% !important;
//             border: none !important;
//             border: 1px solid red !important;
//             outline: none !important;
//             color: white !important;
//             width: 100% !important;
//             border: 1px solid red !important;
//           }
//           input::placeholder {
//             color: white !important;
//             border: 1px solid red !important;
//           }
//         }
//         .right {
//           width: 20% !important;
//         }
//       }
//     }
//   }
  